* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 1920px;
  
}
body {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
header {
  padding-top: 32px;
}
a {
  text-decoration: none;
}

.li-item {
  display: inline-flex;

  width: 690px;
  justify-content: space-between;

  list-style: none;
  font-family: montserrat-regular;
}
ul {
  max-height: 20px;
}
.logo {
  display: inline-block;
  font-family: montserrat-bold;
  font-size: 30px;
  width: 500px;
  color: #95e1d3;
  
}

.head-item::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #f38181;
  margin: 13px auto;
  transition: width 200ms;
}

.head-item:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #f38181;
  margin: 13px auto;
  color: #f38181;
  transition: width 200ms linear;
}

.kaush-font {
  font-family: kaushan-script-regular;
  font-size: 24px;
  color: #333333;
  text-align: center;
}
.monser-font {
  font-family: monsterrat-bold;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.caption {
  height: 438px;
  padding-top: 130px;
}

nav {
  height: 300px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.bottom_flx {
  align-self: flex-end;
}

.links1,
.links2,
.links3,
.links4,
.links5,
.links6 {
  position: relative;
  height: auto;
  width: 383px;

  line-height: 25px;
  min-height: 123px;
}

.icon {
  position: absolute;
  height: 88px;
  width: 83px;
  top: 0;
  left: 0;
}
.p1 {
  position: absolute;
  text-align: left;
  top: 0;
  left: 83px;
  font-family: montserrat-regular;
  text-transform: uppercase;
}
.p2 {
  position: absolute;
  height: 56px;
  width: 300px;
  text-align: left;
  top: 33px;
  left: 83px;
  font-family: roboto-regular;
  font-size: 15px;
  color: #999999;
}
.bar::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background: #f38181;
  margin: 46px auto 0 auto;
}
.txt {
  padding-top: 50px;
  text-align: center;
  font-family: roboto-regular;
  color: #999999;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 95px;
}
.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  position: relative;
  opacity: 1;
  width: 380px;
  height: 470px;
}
.card-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(#ef8b8a, #f2d787);
}
.img-center {
  position: absolute;
}
.card:hover .card-inner {
  transition-property: #f2d787;
  transition-duration: 200ms;

  opacity: 0.9;
  z-index: 2;
  box-shadow: 10px 10px #95e1d3;
}
.social-box {
  width: 57px;
  height: 57px;
  opacity: 1;
  background: #fce38a;
}
.social-box:hover {
  background: #95e1d3;
  opacity: 1;
}
.name {
  display: block;
  font-size: 14px;
  font-family: montserrat-regular;
  text-transform: uppercase;
  text-align: center;
  width: 380px;
}
.prof {
  display: block;
  font-size: 15px;
  font-family: roboto-regular;
  color: #9f9f9f;
  text-align: center;
  width: 380px;
}
footer {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
figcaption {
  padding-top: 30px;
}
.subscribe {
  display: flex;
  align-self: center;
  opacity: 0.9;
}
.txt-area {
  width: 230px;
  height: 38px;
  line-height: 38px;
  font-family: roboto-lightitalic;
  font-size: 14px;

  border-width: 1px;
  border-color: #e7e7e7;
}
.btn {
  height: 38px;
  width: 150px;
  background: #95e1d3;
  border: none;
  border-color: #95e1d3;
  font-family: montserrat-bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #d7f4ee;
}
.wrapper {
  width: 637px;
  width: 380px;
  padding-bottom: 83px;
}
.col {
  color: #f6a1a1;
}
.ftr-autor {
  text-align: center;
  line-height: 100%;
  align-self: center;
  font-family: montserrat-regular;
  font-size: 14px;
  color: #595959;
}
.ftr-autor::before {
  content: "\00A9";
}
::-webkit-input-placeholder {
  color: #d6d6d6;
  font-size: 15px;
  font-family: roboto-lightitalic;
  font-style: oblique;
  padding-left: 10px;
}
@font-face {
  font-family: roboto-lightitalic;
  src: url(../fonts/roboto-lightitalic);
}
@font-face {
  font-family: roboto-regular;
  src: url(../fonts/roboto-regular.ttf);
}
@font-face {
  font-family: kaushan-script-regular;
  src: url(../fonts/kaushan-script-regular.ttf);
}
@font-face {
  font-family: montserrat-bold;
  src: url(../fonts/montserrat-bold.ttf);
}
@font-face {
  font-family: montserrat-regular;
  src: url(../fonts/montserrat-regular.ttf);
}
