
 .horizontal {
    DISPLAY : INLINE;
    float: none;
    text-align: center;
    list-style: none;
    padding: 0px;	
    margin-left: 60px;	
    text-transform: uppercase;
    
}

.limit_img {
    width: 373px;
    height: 284px;
}

body {
    background-color:white;
    
    
}

.limit {
    width: 373px;
    text-align: left;
}
.limitred {
    width: 373px;
    text-align: left;
    color: red;
    text-transform: uppercase;

}
.border-box {
    box-sizing: border-box;
    width: 450px;
    height: 400;
    margin: 0px;
    padding: 50px;
    display: inline-block;
}

a:hover {
    color: blue;

}


    
    

 .center {
     text-align: center;
 }

 .button {
     height: 50px;
     width: 150px;
     background-color: white;
     border-color: black;
     border-width: 1px;
    }
 