* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

#svg {
    display: none;
}
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}
.bar::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #f38181;
    margin: 46px auto 0 auto;
  }