@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/roboto-lightitalic.ttf);
  font-weight: 200;
}
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/roboto-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: kaushan;
  src: url(../fonts/kaushan/kaushan-script-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/montserrat-bold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/montserrat-regular.ttf);
  font-weight: 400;
}
