nav {
    height: 300px;
    display: flex;
    flex-flow: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 5.625rem;
}

.card {
    position: relative;
    height: auto;
    width: 383px;
    line-height: 25px;
    min-height: 123px;
    margin-bottom: 20px;
    text-align: left;
}

.card__title {
    position: absolute;
    top: 0;
    left: 83px;
    font-family: $main-font;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

.card__description {
    position: absolute;
    width: 300px;
    top: 33px;
    left: 83px;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 15px;
    color: $text-color;
}

.wrap {
    margin-bottom: 50px;
}