$main-color: #ffffff;
$caption-color: #333333;
$text-color: #999999;
$main-hover-color: #fce38a;
$supportive-color: #f38181;
$main-font: montserrat;
$secondary-font: roboto;
$supportive-font: kaushan;